MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=ficker_local
MYSQL_USER=ficker
MYSQL_PASSWORD=ficker123

MYSQL_PORT=3307
PHPMYADMIN_PORT=8081
BACKEND_PORT=8000
FRONTEND_PORT=3000
FRONTEND_LOCAL_PATH=C:/path/to/your/ficker-front

NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api
