LE_EMAIL=your-email@example.com
API_HOST=your-api-host.example.com

PMA_BASIC_AUTH=admin:$$2y$$05$$your_basic_auth_hash

MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=ficker
MYSQL_USER=ficker
MYSQL_PASSWORD=your_db_password
