services:
  traefik:
    image: traefik:v3.6.1
    container_name: traefik
    restart: unless-stopped
    command:
      - --api.dashboard=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --certificatesresolvers.le.acme.email=${LE_EMAIL}
      - --certificatesresolvers.le.acme.storage=/letsencrypt/acme.json
      - --certificatesresolvers.le.acme.httpchallenge=true
      - --certificatesresolvers.le.acme.httpchallenge.entrypoint=web
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https
    ports:
      - "80:80"
      - "443:443"
      - "127.0.0.1:8088:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - traefik_letsencrypt:/letsencrypt

  db:
    image: mysql:5.7
    container_name: ficker-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - dbdata:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: unless-stopped
    depends_on:
      - db
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      TZ: America/Maceio
    ports:
      - "9090:80"

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ficker-backend
    restart: unless-stopped
    depends_on:
      - db
    environment:
      APP_ENV: production
      APP_DEBUG: "false"
      APP_URL: https://${API_HOST}
      APP_KEY: ${APP_KEY}

      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: ${MYSQL_DATABASE}
      DB_USERNAME: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}

      WEB_DOCUMENT_ROOT: /app/public
    labels:
      - traefik.enable=true
      - traefik.http.routers.ficker-api.rule=Host(`${API_HOST}`)
      - traefik.http.routers.ficker-api.entrypoints=websecure
      - traefik.http.routers.ficker-api.tls=true
      - traefik.http.routers.ficker-api.tls.certresolver=le
      - traefik.http.services.ficker-api.loadbalancer.server.port=80

volumes:
  dbdata:
  traefik_letsencrypt:
